#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    setprop sys.usb.config adb

import /vendor/etc/init/hw/init.mainline.rc     # the common one

on post-fs
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -s -d /vendor/lib/modules --all=/vendor/etc/modules.load.normal

on fs
    mount_all /vendor/etc/fstab.exynos7870 --early

on late-fs
    mount_all /vendor/etc/fstab.exynos7870 --late
